body {
    font-family: sans-serif;
}


#formHolder {
    width: 50%;
}

#formHolder form {
    width: 60%;
}

#formHolder input[name=name] {
    width: 100%;
}

#formHolder textarea {
    width: 100%;
}
