.hidden {
    display: none;
}

body {
    font-family: sans-serif;
}

#capture {
    width: 600px;
    height: 455px;
}

#vid {
    width: 600px;
    border: none;
}

#capture img {
}

#images {
    height: 100px;
    overflow-x: true;
    background: #bbbbbb;
    margin-bottom: 25px;
}

#formHolder {
    width: 50%;
}

#formHolder form {
    width: 60%;
}

#formHolder input[name=name] {
    width: 100%;
}

#formHolder textarea {
    width: 100%;
}
